<Jumbo>
  <h2>{{@recipe.title}}</h2>
  <ShareButton
    @text="Check out the recipe for {{@recipe.title}}"
    @hashtags="food,authentic"
    @via="emberjs"
  >
    Share on Twitter
  </ShareButton>
</Jumbo>

<article class="recipe detailed">
  <Recipe::Image
    src={{@recipe.image}}
    alt="A picture of {{@recipe.title}}"
  />

  <div class="details">

   <div class="recipe cuisine">
      <span>Cuisine :</span> {{@recipe.cuisine}}
    </div>
    <div class="recipe category">
      <span>Category :</span> {{@recipe.category}}
    </div>
    <div class="recipe rating">
      <span>Rating :</span> {{@recipe.rating}}
    </div>
    <div class="recipe description">
      <span>Description :</span> {{@recipe.description}}
    </div>
  </div>

  <Vegan
    @width="10"
    @height="10"
  />
</article>